@page "/"
@model IdealHoliday.Pages.Holidays.IndexModel

@{
    ViewData["Title"] = "🏖️Holidays";
}

<h1>🏖️Holidays</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Destination
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            Find by Begining Date
            <input type="date" name="SearchDate" value="@Model.CurrentDateFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DestinationSort">
                @Html.DisplayNameFor(model => model.Holiday[0].Destination)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].Hotel.HotelName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BeginDateSort">
                @Html.DisplayNameFor(model => model.Holiday[0].BeginDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].NumberOfKids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].HolidayCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HolidayD.Holidays)
        {
            string selectedRow = "";
            if (item.Id == Model.HolidayId)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfKids)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @{
                        foreach (var category in item.HolidayCategories)
                        {
                            @category.Category.Id @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
